@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #10101a;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 40px;
  background-color: #5ed3f3;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 10px;
  gap: 8px 15px;
}

.logoNavBar {
  width: 120px;
}

.menu ul {
  display: flex;
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: space-between;
}

.navBtn a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 8px;
  color: #0a192f;
  cursor: pointer;
  transition: 0.4s;
}

.navBtn a:hover {
  border-bottom: 2px solid #0a192f;
}

.title {
  text-align: center;
  font-size: 30px;
  margin: 80px 0;
  padding: 10px;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.banner-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.bannerBtn {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.4rem;
  margin-top: 1rem;
  width: 9rem;
  background-color: #5ed3f3;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  transition: 0.3s;
  text-decoration: none;
}

.sobre-text {
  height: auto;
  width: 400px;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.perfil img {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  align-items: center;
  padding: 5px;
}

#name {
  font-size: 50px;
  font-weight: 900;
  color: #5ed3f3;
}

.habilidades {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 10px;
}

.habilidades div {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.habilidades div img {
  width: 100%;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 15px;
}

.item {
  width: 400px;
  height: 250px;
  flex-shrink: 0;
  opacity: 0.2;
  border: 5px solid transparent;
  transition: all 600ms ease-in-out;
  border-radius: 20px;
}

.button-item {
  font-size: 22px;
  font-weight: bold;
  color: black;
  width: 400px;
  height: 50px;
  background-color: #5ed3f3;
  cursor: pointer;
  border-radius: 25px;
}

.project-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  margin: 0 200px 100px 200px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.icon a {
  text-decoration: none;
}

.icon a p {
  font-size: 16px;
}

.icon img {
  height: 30px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5ed3f3;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #5ed3f3;
  color: black;
  text-align: center;
}
