@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #10101a;
  margin-right: auto;
  margin-left: auto;
}

.header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100%;
  min-height: 5rem;
  background-color: #5ed3f3;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 0.5rem 1rem;
}

.logoNavBar {
  width: 8rem;
}

.menu ul {
  display: flex;
  width: 100%;
  list-style: none;
  justify-content: space-between;
  align-items: center;
}

.navBtn a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  padding: 0.5rem;
  color: #0a192f;
  cursor: pointer;
}

.navBtn a:hover {
  font-size: 1.2rem;
  color: white;
  border-bottom: 2px solid #0a192f;
  transition: 0.5s;
}

.title {
  text-align: center;
  font-size: 2rem;
  margin: 6rem 0;
  padding: 0.8rem;
}

.banner {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 0.8rem;
}

.containerBtn {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.bannerBtn {
  font-size: 0.8rem;
  font-weight: 500;
  padding: 0.4rem;
  margin-top: 1rem;
  width: 9rem;
  background-color: #5ed3f3;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 2rem;
  transition: 0.3s;
  text-decoration: none;
}

.banner p {
  font-size: 1.2rem;
  height: auto;
  width: 25rem;
  justify-content: center;
  align-items: center;
  padding: 0.3rem;
}

.perfil img {
  height: 20rem;
  border-radius: 50%;
  align-items: center;
  padding: 0.3rem;
}

#name {
  font-size: 3rem;
  font-weight: 900;
  color: #5ed3f3;
}

.habilidades {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  width: 100%;
  gap: 0.6rem;
  margin: 0 0.8rem 0 0.8rem;
}

.habilidades div {
  width: 10rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
}

.habilidades div:hover {
  transform: translateY(-10px);
  border-bottom: 1px solid black;
}

.habilidades div p {
  margin: 0.5rem;
}

.habilidades div:hover p {
  font-weight: 800;
}

.habilidades div img {
  width: 100%;
}

.gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  gap: 1rem;
}

.gallery div {
  display: flex;
  flex-direction: column;
}

.item {
  width: 25rem;
  height: 15rem;
  flex-shrink: 0;
  margin-bottom: 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.itemBtn {
  font-size: 1.2rem;
  text-align: center;
  color: black;
  padding-top: 0.5rem;
  width: 25rem;
  height: 3rem;
  margin-top: 0;
  background-color: #5ed3f3;
  cursor: pointer;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.item :hover a {
  font-size: 2rem;
  font-weight: bold;
}

.icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  margin: 0 200px 100px 200px;
}

.icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;
}

.icon a {
  text-decoration: none;
}

.icon a p {
  font-size: 1rem;
}

.icon img {
  height: 2rem;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5ed3f3;
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  background-color: #5ed3f3;
  color: black;
  text-align: center;
}
